/JavaApplication4/nbproject/private/
/AppRegistro/build/
/AppRegistro/nbproject/private/
/Tablas/nbproject/private/
/Tablas/build/
/Netbeens/16 - UI - Tablas/Tablas/build/
/BaseDatos/nbproject/private/
/BaseDatos/build/
/20 - Cambio Contenedores/CambioContenedores/nbproject/private/
/20 - Cambio Contenedores/CambioContenedores/build/
/19 - Base Datos MySQL/BaseDatos/nbproject/private/
